.input-box {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.192);
}

.input-box label {
  margin-top: 20px;
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.input-box input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.input-box button {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, #ff5b00, #ffa700);
  color: white;
  font-weight: 700;
  padding: 10px 0px;
}

.input-box button:hover {
  border: 2px solid #ff5b00;
  background: transparent;
  color: black;
}

.iframe-map {
  width: 100%;
  height: 100%;
}

.destination-row {
  padding: 30px;
  border-radius: 10px;
}

/* X-Small and Small devices (portrait phones, less than 576px) */
@media (min-width: 300.98px) and (max-width: 767.98px) {
  .destination-row {
    padding: 0;
    flex-direction: column-reverse;
    margin-top: 2em !important;
  }

  .map-div {
    padding: 0 !important;
  }

  .input-box, .details-div {
    width: 90%;
    /* margin: 1em 0 !important; */
    margin: 1em auto;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .destination-container {
    max-width: 100% !important;
  }

  .destination-row {
    padding: 10px 0;
  }
}